/*  Propriétés de base */
button {
    background-color: transparent;
    border: none;
}
h1 {
    color: #3fbfbf;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
/* Corps */
body {
    background-color: black;
}
.container {
    width: 100%;
    height: 862px;
    background: url(../img/minecraftwallpaper.png);
    background-size: cover;
    display: block;
    margin: auto;
}
.iscan {
    height: 30px;
    width: 30px;
}
.tog-fullscreen {
    position: fixed;
    right: 10px;
    bottom: 20px;
    color: white;
}